/* The Styles for iPPLEgram */
/* Did you remember to grab Paul Irish's Box css? */

html, body {
    height: 100%;
    width: 100%;
}

.picture-frame {
    padding: 8px;
    width: 80%;


}

.picture-frame img {
    width: 100%;
}    

.test{
    display: flex;
    justify-content: center;
}

.bucket {
    min-width: 200px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
}
